<!DOCTYPE html>
<html>
<head>
  <title>Batch Listing</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 0px solid black;
      padding: 10px;
      text-align: center;
    }
    img {
      width: 100px;
      height: auto;
    }
    .pagination {
      margin-top: 20px;
      text-align: center;
    }
    .pagination a {
      margin: 0 5px;
      padding: 8px 16px;
      background-color: #4a90e2;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    }
    .pagination a:hover {
      background-color: #357ab7;
    }
    .pagination a.disabled {
      pointer-events: none;
      background-color: lightgray;
    }
    h1{
      text-align: center;
    }

  </style>
</head>
<body>
  <h4><a href="/dashboard">Go to Dashboard</a></h4>
  <h1>Batch Listing</h1>

  <table>
    <thead>
      <tr>
        <th>Batch ID</th>
        <th>Batch Name</th>
        <th>Users</th>
        
      </tr>
    </thead>
    <tbody>
      <% batches.forEach(function(batch) { %>
        <tr>
          <td><%= batch.id %></td>
          <td><%= batch.batchname %></td>
          <td>
            <ul>
              <% batch.usersBatches.forEach(function(userBatch) { %>
                <li><%= userBatch.user.username %></li>
              <% }) %>
            </ul>
          </td>
         
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
