<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <style>
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            margin: 0;
            background-color: rgba(247, 244, 244, 0.959);
        }

        .login-text {
            flex-grow: 1;
            font-size: 25px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .menu {
            flex-grow: 2;
            display: flex;
            justify-content: center;
        }

        .menu a {
            padding: 20px;
            text-decoration: none;
            font-size: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .logout {
            flex-grow: 3;
            display: flex;
            justify-content: end;
        }

        .logout a {
            padding: 20px;
            text-decoration: none;
            font-size: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        /* Dashboard Boxes */
        .dashboard {
            display: flex;
            justify-content: space-around;
            margin: 100px 10px;
        }

        .dashboard .box {
            flex: 1;
            margin: 10px;
            padding: 30px;
            background-color: #f4f4f9;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .box h3 {
            font-size: 18px;
            color: #333;
            margin-bottom: 10px;
        }

        .box p {
            font-size: 30px;
            color: #007bff;
            margin: 0;
        }

    </style>
</head>
<body>
    <div class="header">
        <div class="login-text">
            Image Lister Admin
        </div>

        <div class="menu">
            <a href="/user">User</a>
            <a href="/user-listing">User Listing</a>
            <a href="/batch">Batch</a>
            <a href="/batch-listing">Batch Listing</a>
            <a href="/upload-image">Image</a>
            <a href="/image-listing">Image Listing</a>
        </div>

        <div class="logout">
            <a href="/login">Logout</a>
        </div>
    </div>

    <!-- Dashboard Boxes -->
    <div class="dashboard">
        <div class="box">
            <h3>Total Users</h3>
            <p><%= totalUsers %></p>
        </div>
        <div class="box">
            <h3>Total Images</h3>
            <p><%= totalImages %></p>
        </div>
        <div class="box">
            <h3>Total Batches</h3>
            <p><%= totalBatches %></p>
        </div>
        <div class="box">
            <h3>Total Admins</h3>
            <p><%= totalAdmins %></p>
        </div>
    </div>
</body>
</html>
